[submodule "todo/home/inkarkat"]
	path = todo/home/inkarkat
	url = git@github.com:s5unty/todo.txt-cli-ex.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/quickfixsigns"]
	path = vim/bundle/quickfixsigns
	url = https://github.com/tomtom/quickfixsigns_vim.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/NrrwRgn"]
	path = vim/bundle/NrrwRgn
	url = https://github.com/chrisbra/NrrwRgn.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/easymotion"]
	path = vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "vim/bundle/vimproc"]
	path = vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.git
[submodule "vim/bundle/unite"]
	path = vim/bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "vim/bundle/unite-quickfix"]
	path = vim/bundle/unite-quickfix
	url = https://github.com/osyo-manga/unite-quickfix.git
[submodule "vim/bundle/unite-outline"]
	path = vim/bundle/unite-outline
	url = https://github.com/h1mesuke/unite-outline.git
[submodule "vim/bundle/unite-session"]
	path = vim/bundle/unite-session
	url = https://github.com/Shougo/unite-session.git
[submodule "vim/bundle/neocomplcache"]
	path = vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.vim.git
[submodule "vim/bundle/neocomplcache-snippets-complete"]
	path = vim/bundle/neocomplcache-snippets-complete
	url = https://github.com/Shougo/neocomplcache-snippets-complete.git
[submodule "vim/bundle/vim-speeddating"]
	path = vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "vim/bundle/visincr"]
	path = vim/bundle/visincr
	url = https://github.com/vim-scripts/VisIncr
[submodule "vim/bundle/neosnippet"]
	path = vim/bundle/neosnippet
	url = https://github.com/Shougo/neosnippet.git
[submodule "vim/bundle/vim-pandoc"]
	path = vim/bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "vim/bundle/visSum"]
	path = vim/bundle/visSum
	url = https://github.com/vim-scripts/visSum.vim.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/fcitx.vim"]
	path = vim/bundle/fcitx.vim
	url = https://github.com/lilydjwg/fcitx.vim.git
[submodule "vim/bundle/neocomplete.vim"]
	path = vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "vim/bundle/calendar"]
	path = vim/bundle/calendar
	url = https://github.com/itchyny/calendar.vim.git
[submodule "vim/bundle/salt-vim"]
	path = vim/bundle/salt-vim
	url = git@github.com:saltstack/salt-vim.git
[submodule "vim/bundle/vim-snippets-salt"]
	path = vim/bundle/vim-snippets-salt
	url = https://github.com/StephenPCG/vim-snippets-salt/
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "vim/bundle/ansible-vim"]
	path = vim/bundle/ansible-vim
	url = https://github.com/pearofducks/ansible-vim
