snippet pp
	--- 
	layout: post
	title: ${1}
	date: `strftime("%Y-%m-%d %H:%M")`
	tags: [${2}]
	categories: [${3:var}]
	---
	${4}

snippet cc
	{% highlight ${1:bash} %}
	${2:}
	{% endhighlight %}

snippet image
	![](${1})

snippet no
    Subject: ${1:`strftime("%Y-%m-%d %H:%M")`}
    X-Label: 
	Date: `system("LANG=c date -R | tr -d '\n'")`
    Message-ID: <`system("uuidgen -t | tr -d '\n'")`>
    MIME-Version: 1.0
    Content-Type: text/plain; charset=utf-8
    
    ${2:#:note}
