snippet pp
    Title: `strftime("%Y_%m_%d_%H:%M")`
    Timestamp: `strftime("%Y-%m-%d %H:%M:%S %z")`
    Created: `strftime("%Y-%m-%d %H:%M:%S %z")`
    Last Accessed: `strftime("%Y-%m-%d %H:%M:%S %z")`
    Times Accessed: 1
    Tags: 
    Metadata: 
    ${1}
