# -*- perl -*-
#
# The format of each entry of the ldap server database is the following:
# LDAP_NICKNAME => ['LDAP_SERVER',
#                   'LDAP_SEARCH_BASE',
#                   'LDAP_SEARCH_FIELDS',
#                   'LDAP_EXPECTED_ANSWERS',
#                   'LDAP_RESULT_EMAIL',
#                   'LDAP_RESULT_REALNAME',
#                   'LDAP_RESULT_COMMENT',
#                   'IGNORANT' (optional),
#                   'LDAP_BIND_DN' (optional),
#                   'LDAP_BIND_PASSWORD (optional),
#                   'LDAP_TLS (optional),
#                   'LDAP_SASL_MECH (optional)],
# (IGNORANT is an optional argument. If you set it to 1, mutt_ldap_query
# uses wildcards *foo* for searching).
# (LDAP_BIND_DN and LDAP_BIND_PASSWORD are optional arguments. Leave them
# out or empty to use and anonymous bind)
# (LDAP_TLS is optional, set it to 0 to disable)
# (LDAP_SASL_MECH is optional, set it to '' to disable)
# A practical illustrating example being:
#  debian	=> ['db.debian.org', 'ou=users,dc=debian,dc=org',
#                   'uid cn sn ircnick', 'uid cn sn ircnick',
#                   '${uid}@debian.org', '${cn} ${sn}', '${ircnick}'],
# the output of the query will be then:
#   ${uid}@debian.org\t${cn} ${sn}\t${ircnick} (i.e.: email name comment)

# hostname of your ldap server
$ldap_server_gs = '*********';
$ldap_server_lg = '**********';
# ldap base search
$ldap_search_base_gs = 'dc=*****,dc=com';
$ldap_search_base_lg = 'dc=******,dc=local';
# list of the fields that will be used for the query
$ldap_search_fields = 'givenname mailNickname sn cn name mail sAMAccountName distinguishedName';
# list of the fields that will be used for composing the answer
$ldap_expected_answers = 'pager mail description displayName sAMAccountName distinguishedName';
# format of the email result based on the expected answers of the ldap query
$ldap_result_email = '${mail}';
# format of the realname result based on the expected answers of the ldap query
$ldap_result_realname = '${displayName}';
# format of the comment result based on the expected answers of the ldap query
$ldap_result_comment = '${description} (${pager}:${sAMAccountName}) // ${distinguishedName}';
# Don't use wildchars on searching
$ignorant = 0;
# Do an anonymous bind to the LDAP server:
$ldap_bind_dn = 'NOBODY';
$ldap_bind_password = 'NOPASS';
# Don't use TLS:
$ldap_tls = 0;
$ldap_sasl_mech = '';
1;

# warning this database will erase default script builtin
%ldap_server_db = (
    '*********' => [
        ${ldap_server_gs},
        ${ldap_search_base_gs},
        ${ldap_search_fields},
        ${ldap_expected_answers},
        ${ldap_result_email},
        ${ldap_result_realname},
        ${ldap_result_comment},
        0,
        "********************",
        "********************"
    ],
    '*********' => [
        ${ldap_server_lg},
        ${ldap_search_base_lg},
        ${ldap_search_fields},
        ${ldap_expected_answers},
        ${ldap_result_email},
        ${ldap_result_realname},
        ${ldap_result_comment},
        0,
        "********************",
        "********************"
    ],
    '**_extend' => [
        ${ldap_server_gs},
        ${ldap_search_base_gs},
        'givenname sn cn name mail sAMAccountName distinguishedName',
        'cn sn mail description displayName sAMAccountName distinguishedName',
        ${ldap_result_email},
        ${ldap_result_realname},
        ${ldap_result_comment},
        0,
        "********************",
        "********************"
    ],
    '**_extend' => [
        ${ldap_server_lg},
        ${ldap_search_base_lg},
        'givenname cn name sAMAccountName',
        'cn description sAMAccountName userPrincipalName',
        ${userPrincipalName},
        ${description},
        ${ldap_result_comment},
        0,
        "*************",
        "*************",
    ]
);

